<div class="mt-4">
    <h3>Cập nhật sản phẩm</h3>

    <form class="mt-4" method="POST" action="/admin/products/{{product._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" value="{{product.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="price">Giá sản phẩm</label>
            <input type="text" class="form-control" value="{{product.price}}" id="price" name="price">
            
        </div>
        <div class="form-group">
            <label for="image">Link hình ảnh sản phẩm</label>
            <input type="text" class="form-control" value="{{product.image}}" id="image" name="image" >
            
        </div>
        <div class="form-group">
            <label for="category">Phân loại sản phẩm</label>
            <input type="text" class="form-control" value="{{product.category}}" id="category" name="category" >
            
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>