<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


{{> header}}

<section class="success-section spad">
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Ngày đặt hàng</th>
                        <th>Sản phẩm</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#if orders.length}}
                    {{#each orders}}
                    <tr>
                        <td class="">
                            <p>{{this.created_at}}</p>
                        </td>
                        <td class="">
                            {{#each this.products }}
                            <p>
                            <h5>{{this.product_id.name}}</h5>
                            <h6>{{formatPrice this.product_id.price}}</h6>
                            </p>
                            {{/each}}
                        </td>
                        <td class="">{{formatPrice this.total}}</td>
                        <th>
                            {{#if this.purchased }}
                                Đã thanh toán
                            {{else}}
                                Chưa thanh toán
                            {{/if}}
                        </th>
                    </tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <td>
                            Bạn chưa có đơn hàng nào
                        </td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Checkout Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here....." />
        </form>
    </div>
</div>
<!-- Search End -->

<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
<style>
    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }

    .success-section {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
    }

    .checkmark {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }
</style>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>